/*.........................Title.......................*/
.title-text-contact{
    width:1110px ;
    height: 312px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.title-text-2{
    width:475px;
    height: 252px;
}

.title-contact{
    width: 475px;
    height: 174px;
    font-family: 'Mulish', sans-serif;
    font-size: 40px;
    font-weight: 700;
    line-height: 55px;
    padding-bottom: 39px;
}

.text-our-favorite{
    font-family: 'Mulish', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
}