
/*Fonts to be used fo all pages*/

.title{
    font-family: 'Mulish', sans-serif;
    font-size: 40px;
    line-height: 55px;

}

.text{
    font-family: 'Mulish', sans-serif;
    font-size: 16px;
    line-height: 26px;
}

/* Fonts for "Home"*/
/* Fonts for "Project Details"*/
/* Fonts for "Contact"*/