/*.........................Title.......................*/
.title-and-quote{
    width: 100%;
    height: 228px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column-reverse;
    padding-bottom:144px ;
}

.title-shooting-hello {
    width: 635px;
}

.shooting-stars{
    font-family: 'Mulish', sans-serif;
    font-size: 22px;
    line-height: 28px;
    font-weight: 700;
    color: #4A4FF2;
    padding-bottom: 32px;
}

.hello{
    font-family: 'Mulish', sans-serif;
    font-size: 40px;
    font-weight: 700;
    line-height: 60px;
}

.rectangle-and-quote{
    width: 212px;
    height: 34px;
    
}

.rectangle{
    width: 30px;
    opacity: 50%;
}

.quote{
    font-family: 'Mulish', sans-serif;
    font-size: 18px;
    font-style: italic;
    line-height: 23px;
    font-weight: 400;
    opacity: 60%;  
}
/*.........................Photo-grid.....................*/
.photo-grid-container{
    width: 1110px;
    height: 1960px;
    display: grid;
    grid-template-columns:auto;
    grid-template-rows: auto;
    grid-gap: 20px;
    padding-bottom: 91px;
}

.rectangle-1{
    grid-column: 1/4;
    grid-row:1/8;
}

.rectangle-2{
    grid-column:4/7 ;
    grid-row:1/7;
}
.rectangle-3{
    grid-column:7/10;
    grid-row:1/11;
}
.rectangle-4{
    grid-column: 1/4 ;
    grid-row: 8/16 ;
}

.rectangle-5{
    grid-column:4/7;
    grid-row:7/14;
}

.rectangle-6{
    grid-column: 7/10;
    grid-row:11/18 ;
}

.rectangle-7{
    grid-column: 1/4;
    grid-row: 16/24;
}

.rectangle-8{
    grid-column: 4/7;
    grid-row: 14/23;
}

.rectangle-9{
    grid-column:7/10 ;
    grid-row: 18/27 ;
}

.rectangle-10{
    grid-column: 1/4 ;
    grid-row:24/33 ;
}

.rectangle-11{
    grid-column:4/7 ;
    grid-row:23/33 ;
}

.rectangle-12{
    grid-column:7/10 ;
    grid-row:27/33 ;
} 
/*.........................Some more text.....................*/
.text-and-service{
    width: 1110px;
    height: 106px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding-top: 109px;
    padding-top: 109px;
}
.we-love-hard{
    width: 635px;
    font-family: 'Mulish', sans-serif;
    font-weight: 700;
    font-size: 28px;  
    line-height: 38px;
}
.service{
    width: 350px;
    height: 89px;
    font-family: 'Mulish', sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 23px;
    opacity: 60%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
}

/*.........................Awards.....................*/
.divider{
    padding: 50px ;
    width: 1110px;
}
.awards-section {
width: 100%;
height: 823px;
padding-top: 114px;
padding-top: 114px;
}

.awards-section-1{
    width: 1200px ;
    height: 139px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.awards-headline-1{
    width: 474px ;
    height: auto;
    font-family: 'Mulish', sans-serif;
    font-size: 22px;
    line-height: 28px;
    font-weight: 700;

}
 .awards-headline-1-invisable{
    width: 474px;
    height: auto;
    font-family: 'Mulish', sans-serif;
    font-size: 22px;
    line-height: 28px;
    font-weight: 700;
    color: white;
 }

.awards-headline-2{
    width: 135px;
    height: auto;
    font-family: 'Mulish', sans-serif;
    font-size: 18px;
    line-height: 23px;
    font-weight: 700;
}

.awards-headline-square {
    width: 190px;
    height: 110px;
}
.awards-headline-3{
    font-family: 'Mulish', sans-serif;
    font-size: 16px;
    line-height: 20px;
    font-weight: 400;
    padding-bottom: 12px;
}

.awards-text{
    font-family: 'Mulish', sans-serif;
    font-size: 16px;
    line-height: 26px;
    font-weight: 400;
    opacity: 60%;
}

.awards-year{
    width: 40px;
    font-family: 'Mulish', sans-serif;
    font-size: 16px;
    line-height: 20px;
    font-weight: 400;
}


