/*.........................Title.......................*/
.title-and-quote{
    width: 1037px;
    height: 228px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column-reverse;
}

.title-shooting-hello {
    width: 635px;
}

.shooting-stars{
    font-family: 'Mulish', sans-serif;
    font-size: 22px;
    line-height: 28px;
    color: #4A4FF2;
}

.hello{
    font-family: 'Mulish', sans-serif;
    font-size: 40px;
    line-height: 60px;
}

.rectangle-and-quote{
    width: 212px;
    height: 34px;
    
}

.rectangle{
    width: 30px;
    opacity: 50%;
}

.quote{
    font-family: 'Mulish', sans-serif;
    font-size: 18px;
    font-style: italic;
    line-height: 23px;
    opacity: 60%;  
}

/*.........................Some more text.....................*/
